.nav {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1424px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.nav__link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  width: 113px;
  height: 47px;
}

.nav__logo {
  fill: $base-light-color;
  width: 100%;
  height: 100%;
}

.nav__toggle {
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  position: relative;
}

.nav__toggle-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 38px;
  height: 30px;
  fill: $base-light-color;

  @media (min-width: $min-desktop-width) {
    fill: $background-color-type-1;
    width: 19px;
    height: 15px;
  }
}

.nav__toggle:hover .nav__toggle-icon,
.nav__toggle:focus-visible .nav__toggle-icon {
  opacity: 0.6;
}

.nav__toggle:active .nav__toggle-icon {
  opacity: 1;
}

.nav__menu {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-color-type-4;
  z-index: 1;
  display: none;
}

.nav--opened .nav__menu {
  display: block;
}

.nav--nojs .nav__menu {
  position: static;
  display: block;
}

.nav__menu-wrapper {
  display: none;
  background: $background-color-type-2;
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  padding: 16px 0;
  box-sizing: border-box;
}

.nav--nojs .nav__menu-wrapper {
  display: block;
  padding: 0;
}

.nav--opened .nav__menu-wrapper {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 20;
  overflow: auto;
  max-width: 380px;
  margin-left: 25px;

  @media (min-width: $min-desktop-width) {
    right: 75px;
  }
}

.nav--nojs .nav__toggle,
.nav--nojs .nav__menu-toggles {
  display: none;
}

.nav--nojs .nav__lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
