.site-list {
  background: $base-light-color;
  padding: 10px 30px 10px 10px;
  box-sizing: border-box;
}

.site-list__item:hover a {
  opacity: 0.6;
}

.site-list__item:active a {
  opacity: 1;
}

.site-list__item a {
  color: $dark-color-type-2;
  padding: 5px;
}
