// Colors

$base-dark-color: #232323;
$dark-color-type-2: #333333;
$dark-color-type-3: #999999;
$dark-color-type-4: #000000;
$dark-color-type-5: #c4c4c4;
$dark-color-type-6: #888888;
$base-light-color: #ffffff;
$light-color-type-2: #d3d3d3;
$background-color-type-1: #cc0000;
$background-color-type-2: #2b3139;
$background-color-type-3: #dfded8;
$background-color-type-4: rgba(0, 0, 0, 0.5);
$background-color-type-5: rgba(0, 0, 0, 0.9);
$background-color-type-6: rgba(0, 0, 0, 0.8);
$background-color-type-7: rgb(238, 165, 19);
$background-color-type-8: rgb(253, 237, 19);
$underline-color: #d31812;

// Viewports

$mobile-width-only: 320px;
$min-tablet-width: 640px;
$tablet-width: 768px;
$min-desktop-width: 1024px;
$desktop-width: 1424px;
